<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="shubham.sharma.ri12">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".car"
            android:parentActivityName=".buy_now">
        </activity>
        <activity android:name=".cars24"
            android:parentActivityName=".buy_now"/>
        <activity
            android:name=".splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".satp"
            android:parentActivityName=".buy_now" />
        <activity
            android:name=".coverfox"
            android:parentActivityName=".buy_now" />
        <activity android:name=".Sign_in">
        </activity>
        <activity android:name=".Lead" />
        <activity
            android:name=".hdfc_miscellaneous"
            android:parentActivityName=".HDFC_S" />
        <activity
            android:name=".hdfc_passenger"
            android:parentActivityName=".HDFC_S" />
        <activity
            android:name=".hdfc_goods"
            android:parentActivityName=".HDFC_S" />
        <activity
            android:name=".hdfc_two_wheeler"
            android:parentActivityName=".HDFC_S" />
        <activity
            android:name=".hdfc_private_car"
            android:parentActivityName=".HDFC_S" />
        <activity
            android:name=".HDFC_S"
            android:parentActivityName=".buy_now" />
        <activity
            android:name=".riso_life"
            android:parentActivityName=".riskovery" />
        <activity
            android:name=".riso_car"
            android:parentActivityName=".riskovery" />
        <activity
            android:name=".riso_bike"
            android:parentActivityName=".riskovery" />
        <activity
            android:name=".riso_health"
            android:parentActivityName=".riskovery" />
        <activity
            android:name=".riskovery"
            android:parentActivityName=".buy_now" />
        <activity
            android:name=".buy_now"
            android:parentActivityName=".dashboard" />
        <activity
            android:name=".dashboard"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <uses-permission android:name="android.permission.READ_SMS" />

</manifest>